* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
#bodyThanks {
  background: rgba($color: #000000, $alpha: 0.5)
    url(../pictures/background/1546253828.svg);
  background-size: cover;
  background-blend-mode: darken;
}
#thanks {
  color: $textcolor;
  text-shadow: $fontShadow;
}
#great {
  margin-top: 20px;
  color: $textcolor;
  text-align: center;
  line-height: 0.8;
  text-shadow: $fontShadow;
}
#back {
  margin-top: 20px;
  background-color: $textcolor;
  border: none;
  border-radius: $borderRadiusMedium;
  padding: 10px 15px;
}
